[Unit]
Description=DeepPicBot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/mid-project-fursa
ExecStart=/bin/bash /home/ubuntu/mid-project-fursa/Image_processing_bot/run.sh /home/ubuntu/mid-project-fursa http://10.0.27.141
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

